/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Conta a partir da borda da caixa */
    font-family: 'DM sans';
}

:root {
    --primary-color: hsl(
        170,
        100%,
        26%
    ); /* Criar variavel dentro de root vale para a página toda
                                                para usar: var( --variavel-- )*/
    --secondary-color: hsl(210, 9%, 31%);
    --headline: hsl(210, 11%, 15%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
    --bg-light: hsl(180, 14%, 97%);
    --nav-height: 7.2rem;
    font-size: 62.5%; /* 1rem === 10px */
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;

    text-align: center;
    overflow: overlay;

    background: var(--bg-light);
}

img {
    max-width: 100%;
}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

section {
    padding-block: 10rem;
}

section header h4 {
    color: var(--primary-color);
    font-weight: 700;
    line-height: 150%;
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

section header h2 {
    line-height: 3.9rem;
    color: var(--headline);
    font-weight: 700;
    font-size: 3rem;
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
}

section .content p {
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--secondary-color);
}

/* NAV */
nav {
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100%;

    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background: var(--primary-color);
}

nav.scroll .logo path {
    fill: white;
}

nav.scroll button path {
    stroke: white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* HOME */
#home {
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
    content: '';
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background: var(--brand-light);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home h1 {
    margin-bottom: 2.4rem;
}

#home p {
    margin-bottom: 3.2rem;
}

#home button {
    background-color: var(--primary-color);

    border: none;
    border-radius: 4rem;

    margin-bottom: 6rem;

    height: 6.2rem;
    width: 26.3rem;

    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-right: auto;
    margin-left: auto;
}

#home img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

#home .stats {
    /* .class pega class da caixa*/
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;

    background: var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 0.4rem;
}

#home .stat p {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}

/* MENU-EXPANDED */
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    /* Sudo class 'not' para sumir com todos*/
    visibility: hidden;
}

.menu {
    transform: translateY(100%);
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);

    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    transition: transform 200ms;
    transform: translateY(0);
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu .button {
    background: white;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--primary-color);

    display: inline-block;
    padding: 1.6rem 3.2rem;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.social-links {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path {
    fill: white;
}

body.menu-expanded button path {
    stroke: white;
}

/* SERVICES */
#services {
    padding-top: 0;
}
#services h2 {
    margin-bottom: 6rem;
}

#services .cards {
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
    padding-block: 2.4rem;
    padding-inline: 2.1rem;
    background: white;
}

#services .card h3 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;

    margin-block: 1.6rem;
}

#services .card p {
    font-size: 1.6rem;
}

/* ABOUT */
#about {
    background: var(--brand-beige);
    text-align: left;
}

#about p {
    margin-bottom: 6rem;
    margin-top: 2.4rem;
}

/* CONTACT */
#contacts {
    text-align: left;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#contacts button {
    background-color: var(--primary-color);

    border: none;
    border-radius: 4rem;

    margin-bottom: 6rem;

    height: 6.2rem;
    width: 26.3rem;

    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

#contacts .info {
    margin-block: 3.2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.6rem;
}

#contacts .contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.8rem;
}

#contacts .contact {
    line-height: 150%;
    color: var(--secondary-color);
}
